.row {

  padding: $scale4 0;
  background-color: white;
  text-align: left;

  footer {

    margin-top: $scale;

  }

  @media (min-width: $mobile){

    padding: $scale6 0;

  }
}

:global(.dark){

  .row {

    background-color: $c-slate-900;

  }
}