.app {

  padding: $scale2;
  min-height: 100%;
  background-color: $c-slate-100;

  @media (min-width: $mobile){

    padding-left: $scale7 + $scale1;

  }
}

:global(.dark) .app {

  background-color: $c-slate-900;
 
}